
html{
	
	/*height: calc(100% + 72px);*/*/
}
.graybg{
	background: #1C1C1C;
}

.heartbg{
	
	background: url(../images/heart-web.jpg) no-repeat center center fixed !important ;
	-webkit-background-size: cover !important;
	  -moz-background-size: cover !important;
	  -o-background-size: cover !important; 
	  background-size: cover !important;
}

.shadowingbg{
	background-size: cover;
	background: url(../images/shadowing-web.jpg) no-repeat center center fixed !important ;
	 -webkit-background-size: cover !important;
	  -moz-background-size: cover !important;
	  -o-background-size: cover !important; 
	  background-size: cover !important;
	
}

.storybg{
	background-size: cover;
	background: url(../images/story-web.jpg) no-repeat center center fixed !important ;
	-webkit-background-size: cover !important;
	  -moz-background-size: cover !important;
	  -o-background-size: cover !important; 
	  background-size: cover !important;
	 
}

.colorsbg{
	background-size: cover;
	background: url(../images/colors-web.jpg) no-repeat center center fixed !important ;
	-webkit-background-size: cover !important;
	  -moz-background-size: cover !important;
	  -o-background-size: cover !important; 
	  background-size: cover !important;
	  
}

.lillebg{

	background-size: cover;
	background: url(../images/lille-web.jpg) no-repeat center center fixed !important ;
	-webkit-background-size: cover !important;
	  -moz-background-size: cover !important;
	  -o-background-size: cover !important; 
	  background-size: cover !important;
	/*background: rgba(70, 72, 82, 0.7)*/
	/*background: rgba(0,0,0, 0.5);*/
}


.tint {
    z-index: -1;
    height: 140%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2); /*can be anything, of course*/
}
/*html{*/

	/*background: url(images/image2.JPG) no-repeat center center fixed;
	background-size: cover;
	*/
	
	/*background: url(../images/heart-web.jpg) no-repeat center center fixed; */
	/*  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
*/






@font-face {
font-family: 'Atlas Grotesk Web';
src: url('AtlasGrotesk-Regular-Web.eot');
src: url('AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
url('AtlasGrotesk-Regular-Web.woff') format('woff'),
url('AtlasGrotesk-Regular-Web.ttf') format('truetype'),
url('AtlasGrotesk-Regular-Web.svg#AtlasGrotesk-Regular') format('svg');
font-weight: 400;
font-style: normal;
font-stretch: normal;
}

body {
	background-size: cover;
 /*background-color:#111111;   */
}

div{
	font-family: 'Atlas Grotesk Web', sans-serif;
	background-color: white;
}
span{
	font-family: 'Atlas Grotesk Web', sans-serif;
}
ul{
	font-family: 'Atlas Grotesk Web', sans-serif;
}


.text_frame{
	
	background:transparent;
	overflow:hidden;
    /*margin:20px;*/
	display: inline-block;
	height:auto;
	color:white;
	margin:20px;
}

.text{

	background:transparent;
	overflow:hidden;
    /*margin:20px;*/
	display: inline-block;
	height:auto;
	
   
	display: inline-block;
	max-width: 90%;
	max-width: 850px;
	overflow:hidden;
    display: inline-block;
	height:auto;
	font-size: 14pt;

}

.header_text{
	font-size: 30px;

}

.description_text{
	/*color:white;*/
	background:transparent;
	overflow:hidden;
    /*margin:20px;*/
	display: inline-block;
	height:auto;

	max-width: 90%;
	max-width: 850px;
	overflow:hidden;
    display: inline-block;
	height:auto;
	font-size: 14pt;

}



.toggle_frame{
	/*font-family: 'Atlas Grotesk Web', sans-serif;*/
	text-align: left;
	background:transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left:20px;
	padding-bottom: 0px;
	padding:0px;
	font-size: 14pt;
}

.toggle{
	font-family: 'Atlas Grotesk Web', sans-serif;
	display: inline-block;

	border: none;
	color: white;
	cursor: pointer;
	
	background-color: transparent;
	/*text-decoration: underline;*/
	outline: none;
	font-size: 14pt;
	opacity: 0.6;
}

.active { 
	opacity: 1.0;
}

.summary_text span{
	font-size: 14pt;
	opacity: 1;
}

.project_title{
	background-color: green;

}

.project_link{
	background-color: pink;
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: auto;
  height: 100%;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

body {
   
}


a{
	color: gray;
}


/*if less than 960 ie a phone*/
@media (max-device-width:960px){

	.toggle_frame{
		/*font-family: 'Atlas Grotesk Web', sans-serif;*/
		text-align: left;
		background:transparent;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-left:20px;
		padding-bottom: 0px;
		padding:0px;
		font-size: 14pt;
	}
		
	.toggle{
		display: inline-block;
		border: none;
		color: white;
		cursor: pointer;
		background-color: transparent;
		outline: none;
		opacity: 0.6;
		font-size: 14px;
		padding:0px;
	}


	.text_frame{
		
		background:transparent;
		overflow:hidden;
	    /*margin:20px;*/
		display: inline-block;
		height:auto;
		color:white;
		margin:14px;
	}

	.text{

		background:transparent;
		overflow:hidden;
	    /*margin:20px;*/
		display: inline-block;
		height:auto;
		
		display: inline-block;
		max-width: 100%;
		/*max-width: 850px;*/
		overflow:hidden;
	    display: inline-block;
		height:auto;
		font-size: 14px;

	}


	.active { 
	color:white;
	opacity: 1.0;
	/*text-decoration: line-through;*/
	}

	.tint {
    z-index: -1;
    height: 150%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.34); /*can be anything, of course*/
}



}



/*greater than a 960*/
@media (min-device-width:960px){
	
	/*.about_text{
		background:transparent;
		overflow:hidden;
	    margin:20px;
		display: inline-block;
		height:auto;
		font-size: 20pt;
		max-width: 80%;
		max-width: 750px;
	}*/



}




