html{
	background: url(images/image2.JPG) no-repeat center center fixed;
	background-size: cover;
}

div{
	font-family: 'Roboto', sans-serif;
	background-color: white;
}

.about_text{
	
	background:transparent;
	overflow:hidden;
    margin:20px;
	display: inline-block;
	height:auto;
	
	font-size: 16pt;
	max-width: 80%;
	max-width: 750px;


}

.about_text span{

	/*display: inline-block;*/
	background-color: white;
	opacity: 1;
	
}

.summary_text{

	background:transparent;
	overflow:hidden;
    display: inline-block;
	height:auto;
	
	font-size: 16pt;
	max-width: 80%;
	max-width: 750px;
}

.summary_text span{

	/*display: inline-block;*/
	background-color: white;
	opacity: 1;

}

.project_title{
	background-color: green;

}

.project_link{
	background-color: pink;
}

body {
   
}

h1 {
    color: navy;
    margin-left: 20px;
}

a{
	color: gray;

}


/*if less than 960 ie a phone*/
@media (max-width:960px){
	.about_text{
		
		background:transparent;
		overflow:hidden;
	    margin:20px;
		display: inline-block;
		height:auto;
		
		font-size: 16pt;
		max-width: 80%;
		max-width: 750px;
	}

	

}

/*greater than a 960*/
@media (min-width:960px){
	.about_text{
		
		background:transparent;
		overflow:hidden;
	    margin:20px;
		display: inline-block;
		height:auto;
		
		font-size: 16pt;
		max-width: 80%;
		max-width: 750px;
	}



/*	.about_text{
		
		background:transparent;
		overflow:hidden;
	    margin:20px;
		display: inline-block;
		height:auto;
		
		font-size: 18pt;
		max-width: 80%;
		max-width: 750px;
	}

	.about_text p{
		
		display: inline-block;
		background-color: white;
		opacity: 0.7;

	}

	.project_title{
		background-color: green;

	}

	.project_link{
		background-color: pink;
	}

	body {
	   
	}

	h1 {
	    color: navy;
	    margin-left: 20px;
	}*/

}